.container {
  padding: 10px 10px 10px 0;
}

.author {
  font-weight: bold;
  font-size: 14px;
  margin-top: 7px;
  text-decoration: underline;
}


.buttonContainer {
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.comment {
  margin-top: 0;
  font-size: 15px;
}

.commentButtons {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.commentButton {
  margin-right: 5px;
  padding: 3px 5px 3px 5px;
}

.date {
  font-family: monospace;
}

.form {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.replyText {
  font-size: 12px;
  margin: 7px;
  margin-bottom: 0;
}

.removeReplyButton {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  margin-top: 0;
  font-size: 12px;
}

.removeReplyButton:hover {
  color: blue;
  text-decoration: underline;

}